.SectionItemCard {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.SectionItemCard_MainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.FirstContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.SectionItemCard h3,
.SectionItemCard_MoreIcon {
  color: white;
  text-align: center;
}

.SectionItemCard_MoreIcon {
  position: absolute;
  top: 5%;
  right: 5%;
  z-index: 999;
}

.SectionItemCard_ImageContainer {
  width: 6rem;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
}

.SectionItemCard_ImageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.SectionItemCard_InfoContianer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.SectionItemCard_MoreInfoContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.SectionItemCard_Price {
  color: var(--SuccessColor);
}

.SectionItemCard_Qty {
  color: var(--SecondaryText);
}

.SectionItemCard_FewLeft {
  color: var(--CancelColor);
  font-weight: bold;
}
