.ItemsContainer {
  width: 100%;
  height: 80%;
  margin: 1em 0;
}

.ItemsContainer_Scrollable {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow-y: scroll;
}

.ItemsContainer_ActualContainer {
  width: 100%;
  height: 100%;
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 12em);
  grid-gap: 1.5em;
}

.ItemsContainer_Scrollable::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.ItemsContainer_Scrollable::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--SecondMain);
}

.ItemsContainer_Scrollable::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--mainColor);
}

.ItemsContainer_Scrollable::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: var(--mainColorHover);
}
