.Button {
  width: 100%;
  color: white;
  font-size: 1.1em;
  font-weight: bold;
  background-color: var(--mainColor);
  border: none;
  outline: none;
  padding: 0.4em;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Button:hover {
  background-color: var(--mainColorHover);
}
