.ContactsContainer {
  max-height: 92vh;
  min-height: 92vh;
  height: 100%;
  width: 100%;
  max-width: 30%;
  border-right: 1px solid var(--StrokeColor);
  overflow-y: scroll;
  background-color: var(--SecondMain);
}

.ContactsContainer_ItemsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  height: 100%;
  width: 100%;
  background-color: var(--SecondMain);
}

.ContactsContainer::-webkit-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.ContactsContainer::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: var(--SecondMain);
}

.ContactsContainer::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--mainColor);
}

.ContactsContainer::-webkit-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: var(--mainColorHover);
}

.ContactsContainer::-moz-scrollbar {
  width: 8px;
  border-radius: 10px;
}

.ContactsContainer::-moz-scrollbar-track {
  border-radius: 10px;
  background-color: var(--CardHover);
}

.ContactsContainer::-moz-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--mainColor);
}

.ContactsContainer::-moz-scrollbar-thumb:hover {
  border-radius: 10px;
  background-color: var(--mainColorHover);
}
